<body>
<div class="policy_content">
  <div class="policy_header">
    <h1>Información General</h1>
  </div>
  <p>Esta Política de Privacidad describe cómo recopilamos, utilizamos y protegemos la información personal que obtenemos a través de nuestro sitio web. Al utilizar nuestro sitio, aceptas los términos de esta política.</p>
  <div class="policy_wrapper">
    <div class="policy_content">
      <h3>Información que Recopilamos</h3>
      <ul>
        <li>
          <span>Información de Contacto:</span> Recopilamos tu nombre, dirección de correo electrónico, dirección postal y número de teléfono cuando realizas una compra o te registras en nuestro sitio.
        </li>
        <li>
          <span>Información de Pago:</span> Si realizas una compra, recopilamos información de pago, como detalles de tarjetas de crédito o cuentas bancarias.
        </li>
        <li>
          <span>Información de Navegación:</span> Utilizamos cookies y tecnologías similares para recopilar información sobre tu navegación en nuestro sitio, como las páginas visitadas y el tiempo que pasas en cada página.
        </li>
        <li>
          <span>Información de Envío:</span> Si realizas una compra, recopilamos información de envío, como tu dirección de entrega.
        </li>
      </ul>
      <h3>Uso de la Información</h3>
      <p>
        Utilizamos la información recopilada para:
      </p>
      <h3>Lorem Ipsum:</h3>
      <p>Proin scelerisque turpis sed mauris venenatis, at dapibus elit mattis. Vestibulum id odio ac urna lacinia condimentum et id nunc. Duis semper eros eget magna ultrices, sed tristique metus vestibulumconsectetur adipiscing elit. Sed at sapien non urna commodo accumsan. Donec nec massa eu lacus venenatis rutrum. Vivamus ut sodales justo. Nullam tempor arcu eget justo accumsan, sit amet consectetur ipsum consequat.</p>
      <h3>Lorem Ipsum:</h3>
      <p>Proin scelerisque turpis sed mauris venenatis, at dapibus elit mattis. Vestibulum id odio ac urna lacinia condimentum et id nunc. Duis semper eros eget magna ultrices, sed tristique metus vestibulum.</p>
      <h3>Lorem Ipsum:</h3>
      <p>Proin scelerisqueconsectetur adipiscing elit. Sed at sapien non urna commodo accumsan. Donec nec massa eu lacus venenatis rutrum. Vivamus ut sodales justo. Nullam tempor arcu eget justo accumsan, sit amet consectetur ipsum consequat turpis sed mauris venenatis, at dapibus elit mattis. Vestibulum id odio ac urna lacinia condimentum et id nunc. Duis semper eros eget magna ultrices, sed tristique metus vestibulum.</p>

    </div>
    <div class="policy_image">
      <img src="./assets/image/return.png" alt="Imagen 1">
      <img src="./assets/image/return.png" alt="Imagen 2">
    </div>
  </div>
</div>
</body>

