<body>
<div class="policy_content">
  <div class="policy_header">
    <h1>{{datosJson.footers.politica_privacidad.info_general}}</h1>
  </div>
  <p> {{datosJson.footers.politica_privacidad.p_info_general}} </p>
  <div class="policy_wrapper">
    <div class="policy_content">
      <h3> {{datosJson.footers.politica_privacidad.info_recopilamos}} </h3>
      <ul>
        <li>
          <span> {{datosJson.footers.politica_privacidad.span_li1}} </span> {{datosJson.footers.politica_privacidad.texto_li1}}
        </li>
        <li>
          <span> {{datosJson.footers.politica_privacidad.span_li2}} </span> {{datosJson.footers.politica_privacidad.texto_li2}}
        </li>
        <li>
          <span> {{datosJson.footers.politica_privacidad.span_li3}} </span> {{datosJson.footers.politica_privacidad.texto_li3}}
        </li>
        <li>
          <span> {{datosJson.footers.politica_privacidad.span_li4}} </span> {{datosJson.footers.politica_privacidad.texto_li4}}
        </li>
      </ul>
      <h3> {{datosJson.footers.politica_privacidad.uso_informacion}} </h3>
      <p>
        {{datosJson.footers.politica_privacidad.p_uso_informacion}}
      </p>
      <ul>
        <li>
          {{datosJson.footers.politica_privacidad.texto_li5}}
        </li>
        <li>
          {{datosJson.footers.politica_privacidad.texto_li6}}
        </li>
        <li>
          {{datosJson.footers.politica_privacidad.texto_li7}}
        </li>
        <li>
          {{datosJson.footers.politica_privacidad.texto_li8}}
        </li>
      </ul>
      <h3> {{datosJson.footers.politica_privacidad.compartir_informacion}} </h3>
      <p> {{datosJson.footers.politica_privacidad.p_compartir_informacion}} </p>
      <h3> {{datosJson.footers.politica_privacidad.seguridad}} </h3>
      <p> {{datosJson.footers.politica_privacidad.p_seguridad}} </p>
      <h3> {{datosJson.footers.politica_privacidad.tus_derechos}} </h3>
      <p> {{datosJson.footers.politica_privacidad.p_tus_derechos}} </p>

    </div>
    <div class="policy_image">
      <img src="./assets/image/Privacidad.jpg" alt="Imagen 1">
      <img src="./assets/image/Privacidad1.jpg" alt="Imagen 2">
    </div>
  </div>
</div>
</body>

