<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ingrid+Darling&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap" rel="stylesheet">
</head>
<body>
<div class="container col-md-12 bg-danger">
  <img class="cielo " src="https://firebasestorage.googleapis.com/v0/b/el-nexo-ps.appspot.com/o/paginas_estaticas%2Fcielo.png?alt=media&token=f5cbc34a-cc14-4d96-8286-20e26bab8b61"alt="logo">
  <div class="texto-centrado">{{ datosJson.paginas.home.texto_centrado }}</div>
</div>
<div class="ofrecemos">
  {{ datosJson.paginas.home.ofrecemos }}
</div>
<div class="row">
  <div class="rounded-circle col-lg-12 col-xxl-3 col-xl-6">
    <img src="https://firebasestorage.googleapis.com/v0/b/el-nexo-ps.appspot.com/o/paginas_estaticas%2FrecordOftagnarok.png?alt=media&token=686ab26b-78ba-4fd0-9b04-f08412fd7ccb" style="width: 221px; height: 221px;border-radius: 50%;"  >
    <div class="centered-tex-img">{{ datosJson.paginas.home.manga }}</div>
  </div>
  <div class="rounded-circle col-lg-12 col-xxl-3 col-xl-6" >
    <img src="https://firebasestorage.googleapis.com/v0/b/el-nexo-ps.appspot.com/o/paginas_estaticas%2Fwallhaven.jpg?alt=media&token=d82703a9-1972-4158-a7b1-d53d8d77269c" style="width: 221px; height: 221px;border-radius: 50%;">
    <div class="centered-tex-img">{{ datosJson.paginas.home.comics }}</div>

  </div>
  <div class="rounded-circle col-lg-12 col-xxl-3 col-xl-6" >
    <img src="https://firebasestorage.googleapis.com/v0/b/el-nexo-ps.appspot.com/o/paginas_estaticas%2Fsolo-leveling.png?alt=media&token=1c074bdb-054f-4576-b617-738fa729d934" style="width: 221px; height: 221px;border-radius: 50%;">
    <div class="centered-tex-img">{{ datosJson.paginas.home.anime }}</div>

  </div>
  <div class="rounded-circle col-lg-12 col-xxl-3 col-xl-6" >
    <img src="https://firebasestorage.googleapis.com/v0/b/el-nexo-ps.appspot.com/o/paginas_estaticas%2Ffiguras.png?alt=media&token=8deb17b0-3841-4fa8-9930-58883ff4ab2b" style="width: 221px; height: 221px;border-radius: 50%;">
    <div class="centered-tex-img">{{ datosJson.paginas.home.figuras }}</div>

    </div>
  </div>

<div class="container2">
  <img src="https://firebasestorage.googleapis.com/v0/b/el-nexo-ps.appspot.com/o/paginas_estaticas%2FAnime-banner.jpg?alt=media&token=0d56e3a1-8e33-4313-8870-91aa9010589a" class="background-image">
  <div class="col-12 col-md-6"></div>
  <div class="text-content">
    <!-- Inserta tu texto aquí -->
    {{ datosJson.paginas.home.texto1 }}<br>
    {{ datosJson.paginas.home.texto2 }}
  </div>
</div>
<div class="ofrecemos" id="colaborar">
  {{ datosJson.paginas.home.texto3 }}
</div>
<div class="row">
<div class="rounded-circle col-lg-12 col-xxl-3 col-xl-6 collab" >
  <!--DE CARA A PRODUCCION HABRIA QUE TOMAR MEDIDAS SOBRE TEMAS LEGALES CON LAS MARCAS PEMITENTES-->
  <img src="https://firebasestorage.googleapis.com/v0/b/el-nexo-ps.appspot.com/o/paginas_estaticas%2FbakaOtaku.png?alt=media&token=61ff6b80-7480-4455-8491-864d52255510" style="width: 221px; height: 221px;border-radius: 50%;" (click)="cargarPagina('https://www.bakaotaku.es/')">
</div>
<div class="rounded-circle col-lg-12 col-xxl-3 col-xl-6 collab" >
  <img src="https://firebasestorage.googleapis.com/v0/b/el-nexo-ps.appspot.com/o/paginas_estaticas%2Fgame.png?alt=media&token=9092fecf-226f-4446-823e-9170d1c89c0d" style="width: 221px; height: 221px;border-radius: 50%;" (click)="cargarPagina('https://www.game.es/')">
</div>
<div class="rounded-circle col-lg-12 col-xxl-3 col-xl-6 collab" >
  <img src="https://firebasestorage.googleapis.com/v0/b/el-nexo-ps.appspot.com/o/paginas_estaticas%2Fdesvan.png?alt=media&token=d6001539-4188-44ba-9130-89226b82080d" style="width: 221px; height: 221px;border-radius: 50%;" (click)="cargarPagina('https://www.leprechaun.es/')">

</div>
<div class="rounded-circle col-lg-12 col-xxl-3 col-xl-6 collab" >
  <img src="https://firebasestorage.googleapis.com/v0/b/el-nexo-ps.appspot.com/o/paginas_estaticas%2FlaFortaleza.png?alt=media&token=eacae32f-a3f5-4038-83ac-18989ba4df99" style="width: 221px; height: 221px;border-radius: 50%;">
</div>
</div>


</body>
