
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;


}
/* Cuerpo */
body{
  background-color: rgba(175,238,238,0.78);
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  padding-bottom: 100px;

}
.cielo{
  width: 180%;

  object-fit: cover;
  height: 552px;
}
.container {
  text-align: center;
}

/* Centrar el texto */
.texto-centrado {
  position: absolute;
  top: 50%;
  left: 10%;
  right: 10%;
  color: black;
  font-family: "Ingrid Darling", cursive;
  font-size: 110px;
}
/*OFRECEMOs*/
.ofrecemos{
  font-family: "Just Another Hand", cursive;
  font-size: 99px;
  text-align: center;
  position: relative;
  transition: 0.5s ease-in-out;
}
.ofrecemosimg{
  display: inline-block;
  margin-right: 80px;
  margin-left: 148px;
}
/*centramos el texto de las imagenes*/
.centered-tex-img{
  transform: translate(22%,-250%);
  font-family: "Just Another Hand", cursive;
  font-size: 45px;
  color:white; /* Cambia el color según tu preferencia */
  text-shadow: -1px 0 yellow;
}
/*-----------------------------------------*/
/*Texto e imagen*/
.container2 {
  position: relative;
}

.background-image {

  width: 100%;
  height: 537px;

}

.text-content {
  background-color: #5069ED; /* Cambia el color según tu preferencia */
  text-align: center;
  font-family: "Just Another Hand", cursive;
  font-size: 2em;
  width: 672px;
  height: 704px;
  color: white;
  position: absolute;
  padding: 100px;

}

#colaborar {
  margin-top: 150px;
  cursor: pointer;
}

/*-----------------------------------------*/

@media screen and (min-width: 1251px){
  .row {
    margin-left: 250px;
  }
  .text-content {
    transform: translate(100%,-80%);
  }
}

@media screen and (max-width: 1250px) {

  .texto-centrado {
    top: 35%;
    font-size: 75px;
    transition: 0.7s;
}
  .cielo{
    height: 452px;
  }

  .row {
    margin-left: 250px;
  }

  .text-content {
    transform: translate(80%,-80%);
  }
}

.row{
  margin-right: 80px;
}

@media screen and (max-width: 1200px) {
  .centered-tex-img{
    transform: translate(12%,-250%);
  }

  .row {
    margin-left: 350px;
  }

  .text-content {
    transform: translate(60%,-80%);
  }

}

@media screen and (max-width: 900px) {
  .row {
    margin-left: 235px;
  }
  .text-content {
    transform: translate(20%,-80%);
  }
}

@media screen and (max-width: 750px) {
  .centered-tex-img{
    transform: translate(20%,-250%);
  }
  .row {
    margin-left: 115px;
  }

  .text-content {
    width: 536px;
    transform: translate(5%,-80%);
    font-size: 1.8em;
    transition: 0.7s;
  }
}

.highlight {
  color: black;
}

.collab {
  margin-bottom: 80px;
}
