<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ingrid+Darling&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap" rel="stylesheet">
</head>
<body>
<div class="container col-md-12 bg-danger">
  <img class="cielo " src="./assets/image/cielo.png"alt="logo">
  <div class="texto-centrado">De cómics a animes, ¡tu universo friki en un solo lugar!</div>
</div>
<div class="ofrecemos">
Ofrecemos
</div>
  <div class="row">
    <div class="rounded-circle col-lg-12 col-xxl-3 col-xl-6">
      <img src="./assets/image/recordOftagnarok.png" style="width: 221px; height: 221px;border-radius: 50%;"  >
      <div class="centered-tex-img highlight">Mangas</div>
    </div>
    <div class="rounded-circle col-lg-12 col-xxl-3 col-xl-6" >
      <img src="./assets/image/wallhaven.jpg" style="width: 221px; height: 221px;border-radius: 50%;">
      <div class="centered-tex-img">Comics</div>

    </div>
    <div class="rounded-circle col-lg-12 col-xxl-3 col-xl-6" >
      <img src="./assets/image/solo-leveling.png" style="width: 221px; height: 221px;border-radius: 50%;">
      <div class="centered-tex-img">Animes</div>

    </div>
    <div class="rounded-circle col-lg-12 col-xxl-3 col-xl-6" >
      <img src="./assets/image/figuras.png" style="width: 221px; height: 221px;border-radius: 50%;">
      <div class="centered-tex-img highlight">Figuras</div>

    </div>
  </div>


<div class="container2">
  <img src="./assets/image/Anime-banner.jpg" class="background-image">
  <div class="col-12 col-md-6"></div>
  <div class="text-content">
    <!-- Inserta tu texto aquí -->
    El objetivo<br>
    La misión de "El  Nexus" era clara: ser un puente entre el mundo de los cómics y el manga y el mundo normal. Querían demostrar que estos mundos no estaban tan separados como uno podría pensar. Que las historias, los personajes y las lecciones que encontramos en los cómics y el manga pueden enriquecer nuestras vidas cotidianas.
  </div>
</div>
<div class="ofrecemos" id="colaborar" (mouseover)="cambiarTexto()" (mouseout)="textoOriginal()">
  {{texto}}
</div>
<div class="row">
  <div class="rounded-circle col-lg-12 col-xxl-3 col-xl-6 collab" >
    <!--DE CARA A PRODUCCION HABRIA QUE TOMAR MEDIDAS SOBRE TEMAS LEGALES CON LAS MARCAS PEMITENTES-->
    <img src="./assets/image/bakaOtaku.png" style="width: 221px; height: 221px;border-radius: 50%;" (click)="cargarPagina('https://www.bakaotaku.es/')">
  </div>
  <div class="rounded-circle col-lg-12 col-xxl-3 col-xl-6 collab" >
    <img src="./assets/image/game.png" style="width: 221px; height: 221px;border-radius: 50%;" (click)="cargarPagina('https://www.game.es/')">
  </div>
  <div class="rounded-circle col-lg-12 col-xxl-3 col-xl-6 collab" >
    <img src="./assets/image/desvan.png" style="width: 221px; height: 221px;border-radius: 50%;" (click)="cargarPagina('https://www.leprechaun.es/')">

  </div>
  <div class="rounded-circle col-lg-12 col-xxl-3 col-xl-6 collab" >
    <img src="./assets/image/laFortaleza.png" style="width: 221px; height: 221px;border-radius: 50%;">
  </div>
</div>



</body>
