
<head>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
  />
</head>
<body>
<div class="wrapper">
  <h1>Frequently Asked Questions</h1>

  <div class="faq">
    <button class="accordion" (click)="Alert()">
      What is El Nexus?
      <i class="fa-solid fa-chevron-down"></i>
    </button>
    <div class="pannel">
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis
      </p>
    </div>
  </div>

  <div class="faq">
    <button class="accordion" (click)="Alert()">
      How does it work?
      <i class="fa-solid fa-chevron-down"></i>
    </button>
    <div class="pannel">
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis
        saepe molestiae distinctio asperiores cupiditate consequuntur dolor
        ullam, iure eligendi harum eaque hic corporis.
      </p>
    </div>
  </div>

  <div class="faq">
    <button class="accordion" (click)="Alert()">
      Lorem ipsum dolor, sit?
      <i class="fa-solid fa-chevron-down"></i>
    </button>
    <div class="pannel">
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis
        saepe molestiae distinctio asperiores cupiditate consequuntur dolor
        ullam, iure eligendi harum eaque hic corporis debitis porro
        consectetur voluptate rem officiis architecto.
      </p>
    </div>
  </div>

  <div class="faq">
    <button class="accordion" (click)="Alert()">
      Lorem ipsum dolor, sit amet consectetur adipisicing?
      <i class="fa-solid fa-chevron-down"></i>
    </button>
    <div class="pannel">
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis
        saepe molestiae distinctio asperiores cupiditate consequuntur dolor
        ullam, iure eligendi harum eaque hic corporis debitis porro
        consectetur voluptate rem officiis architecto.
      </p>
    </div>
  </div>

  <div class="faq">
    <button class="accordion" (click)="Alert()">
      Lorem ipsum dolor, sit amet consectetur?
      <i class="fa-solid fa-chevron-down"></i>
    </button>
    <div class="pannel">
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis
        saepe molestiae distinctio asperiores cupiditate consequuntur dolor
        ullam, iure eligendi harum eaque hic corporis debitis porro
        consectetur voluptate rem officiis architecto.
      </p>
    </div>
  </div>

  <div class="faq">
    <button class="accordion" (click)="Alert()">
      Lorem ipsum?
      <i class="fa-solid fa-chevron-down"></i>
    </button>
    <div class="pannel">
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis
        saepe molestiae distinctio asperiores cupiditate consequuntur dolor
        ullam, iure eligendi harum eaque hic corporis debitis porro
        consectetur voluptate rem officiis architecto.
      </p>
    </div>
  </div>
</div>


</body>
