
<head>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
  />
</head>
<body>
<div class="wrapper">
  <h1> {{datosJson.footers.faq.titulofaq}} </h1>

  <div class="faq">
    <button class="accordion" id="q1" (click)="Alert(0)">
      {{datosJson.footers.faq.pregunta1}}
      <i class="fa-solid fa-chevron-down"></i>
    </button>
    <div class="pannel">
      <p>
        {{datosJson.footers.faq.respuesta1}}
      </p>
    </div>
  </div>

  <div class="faq">
    <button class="accordion" id="q2" (click)="Alert(1)">
      {{ datosJson.footers.faq.pregunta2 }}
      <i class="fa-solid fa-chevron-down"></i>
    </button>
    <div class="pannel">
      <p>
        {{datosJson.footers.faq.respuesta2}}
      </p>
    </div>
  </div>

  <div class="faq">
    <button class="accordion" id="q3"(click)="Alert(2)">
      {{ datosJson.footers.faq.pregunta3 }}
      <i class="fa-solid fa-chevron-down"></i>
    </button>
    <div class="pannel">
      <p>
        {{datosJson.footers.faq.respuesta3}}
      </p>
    </div>
  </div>

  <div class="faq">
    <button class="accordion" id="q4" (click)="Alert(3)">
      {{ datosJson.footers.faq.pregunta4 }}
      <i class="fa-solid fa-chevron-down"></i>
    </button>
    <div class="pannel">
      <p>
        {{datosJson.footers.faq.respuesta4}}
      </p>
    </div>
  </div>

  <div class="faq">
    <button class="accordion" id="q5" (click)="Alert(4)">
      {{ datosJson.footers.faq.pregunta5 }}
      <i class="fa-solid fa-chevron-down"></i>
    </button>
    <div class="pannel">
      <p>
        {{datosJson.footers.faq.respuesta5}}
      </p>
    </div>
  </div>

  <div class="faq">
    <button class="accordion" id="q6" (click)="Alert(5)">
      {{ datosJson.footers.faq.pregunta6 }}
      <i class="fa-solid fa-chevron-down"></i>
    </button>
    <div class="pannel">
      <p>
        {{datosJson.footers.faq.respuesta6}}
      </p>
    </div>
  </div>
</div>

</body>
