body{
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;


}
.catalogo-fondo {
  background-color:  rgba(175,238,238);
  padding-bottom: 100px;
}

.cerrar{
  background-color:  rgba(175,238,238);
}
/*cuerpo*/
body{
  background-color:  rgba(175,238,238);
  padding-bottom: 100px;
}


.buscar{
  margin-top: 20px;
}
/*-------------------------------------------------------------*/
/*catalogo*/
.contenido{
  max-width: 1200px;
  width: 100%;
  margin: 40px auto;
  display: flex;
}
.mostrador{
  width: 100%;
  transition: .5s ease;
}
.mostrador .fila{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.mostrador .fila .item{
  max-width: 210px;
  padding: 40px;
  height: 375px;
  /*border: 2px solid red;*/
  text-align: center;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}
.mostrador .fila .item:hover{
  background-color: white;
}
.mostrador .fila .item img{
  width: 100%;
  margin: 30px 0;
}
.mostrador .fila .item .descripcion{
  color: black;
  font-weight: bold;
  font-size: medium;
}

.mostrador .fila .item .precio{
  color: black;
  font-weight: bold;
  font-size: medium;
}
/*------------------------------------------------------*/
/*item seleccionado*/
.seleccion{
  transition: 0.5s ease;
  /*opacity: 0;*/
  /*width: 40%;*/
  border: 1px solid #ccc;
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  border-radius: 3%;
  background-color: rgba(140, 190, 190, 1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  width: 100%;
  height: 100%;

}

.cerrar{
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  color: white;
  background-color: transparent;
  border: none;
  transition: transform 0.5s ease-in-out;
}

.cerrar:hover {
  transform: rotate(45deg);
}
.info{
  padding: 20px;
}
.info img{
  display: block;
  margin: 30px auto;
  width: 80%;

}
.info h2{
  color: white;
  margin-bottom: 10px;
}

.info .precio{
  font-size: 30px;
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
  display: block;
}
.info .fila{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.info .fila button{
  font-weight: 700;
  font-size: 15px;
  color: #ffffff;
  padding: 9px 25px;
  border: 2px solid #ffffff;
  background: #222228;
  cursor: pointer;
  border-radius: 30px 30px 30px 30px;


}
.info .fila button:hover{
 background-color: #ffffff;
  color: #222228;
  transform: translatey(-2px);
  border-radius: 30px 30px 30px 30px;
}
.info .nombrePrecio{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.review{
  display: flex;
  justify-content: center;
  align-items: center;
}
.descripcion2{
  padding: 30px;
}
/*------------------------------------------------------*/
/*Valoracion */
.rating:not(:checked) > input {
  position: absolute;
  appearance: none;
}

.rating:not(:checked) > label {
  float: right;
  cursor: pointer;
  font-size: 30px;
  color: #666;
}

.rating:not(:checked) > label:before {
  content: '★';
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
  color: #e58e09;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #ff9e0b;
}

.rating > input:checked ~ label {
  color: #ffa723;
}

/*flechas*/
.arrow{
  background-color: transparent;
  cursor: pointer;
  border: none;
  margin: 10px;
}
.spaceArrow{
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 750px) {
  .mostrador .fila .item .precio{
    font-size: 16.5px;
  }
  .mostrador .fila .item .descripcion{
    font-size: 16.5px;
  }


}
