<body class="cuerpo">
  <div class="video-container">
    <video autoplay loop muted class="video-background">
      <source src="./assets/videos/ElNexo_intro.mp4" type="video/mp4"> <!-- Ruta del video -->
      Your browser does not support the video tag.
    </video>
    <div class="overlay"></div>

    <div class="content">
      <header class="header">
        <h1>About Us</h1>
      </header>
      <div class="about-us-content">
        <div class="main-content">
          <p>El Nexo, siempre para ti</p>
        </div>
        <div class="end_content_up">
          <div class="up_content_left">Lorem</div>
          <div class="up_content_center">🌐</div>
          <div class="up_content_right">Ipsum</div>
        </div>
        <div class="end_content_down">
          <div class="down_content_left">Ipsum</div>
          <div class="down_content_center">Lorem Ipsum</div>
          <div class="down_content_right">Lorem</div>
        </div>
      </div>
    </div>
  </div>
  <div class="down-container">
    <div class="down_container_header"><h1>¡Descubre El Nexo!</h1></div>
    <div class="image-container">
      <img src="./assets/image/Toys.png">
    </div>
    <div class="text-container">
      <p>
        En El Nexo, somos mucho más que una tienda online, somos el destino definitivo para todos los aficionados y coleccionistas "frikis". Desde miniaturas hasta libros, cartas, videojuegos y posters, ofrecemos una amplia selección de productos que satisfacen todas tus pasiones.
        <br>
        <br>
        Nuestra visión va más allá de simplemente ofrecer productos. Nos esforzamos por crear un espacio donde los entusiastas puedan reunirse, compartir sus intereses y encontrar todo lo que necesitan para alimentar su pasión. Con el tiempo, planeamos expandir nuestros servicios para incluir la compra y venta de artículos de segunda mano, colaboraciones con tiendas físicas, un foro animado y mucho más.
        <br>
        <br>
        En El Nexo, entendemos las dificultades que enfrentan los aficionados al buscar productos específicos y servicios especializados. Por eso estamos aquí, para brindarte una experiencia de compra única y satisfactoria, respaldada por una comunidad vibrante y comprometida.
        <br>
        <br>
        Descubre un mundo de posibilidades en El Nexo, donde tu pasión se convierte en nuestra prioridad. ¡Únete a nosotros y forma parte de esta emocionante aventura!
      </p>
    </div>

  </div>
</body>
