<body class="cuerpo">
  <div class="video-container">
    <video autoplay loop muted class="video-background">
      <source src="./assets/videos/ElNexo_intro.mp4" type="video/mp4"> <!-- Ruta del video -->
      Your browser does not support the video tag.
    </video>
    <div class="overlay"></div>

    <div class="content">
      <header class="header">
        <h1>About Us</h1>
      </header>
      <div class="about-us-content">
        <div class="main-content">
          <p>El Nexo, siempre para ti</p>
        </div>
        <div class="end_content_up">
          <div class="up_content_left">Lorem</div>
          <div class="up_content_center">🌐</div>
          <div class="up_content_right">Ipsum</div>
        </div>
        <div class="end_content_down">
          <div class="down_content_left">Ipsum</div>
          <div class="down_content_center">Lorem Ipsum</div>
          <div class="down_content_right">Lorem</div>
        </div>
      </div>
    </div>
  </div>
  <div class="down-container">
    <div class="down_container_header"><h1> Lorem Ipsum</h1></div>
    <div class="image-container">
      <img src="./assets/image/Toys.png">
    </div>
    <div class="text-container">
      <p>En El Nexo Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum scelerisque mauris et velit vulputate elementum nec ut purus. Sed eu arcu quam. Phasellus lorem velit, efficitur ac faucibus non, volutpat varius sapien. Vivamus purus ipsum, vestibulum
        ultricies condimentum a, convallis consectetur nibh. Nam efficitu./p>
    </div>

  </div>
</body>
