<head>
  <link rel="icon" type="image/png" href="img/favicon.png">
</head>
<body>
  <div class="row">
    <div class="container col-md-auto">
      <div class="form-box">
        <div class="button-box">
          <div id="elegir"></div>
          <button type="button" class="toggle-btn" (click)="login()">{{ datosJson.paginas.login.inicio_sesion }}</button>
          <button type="button" class="toggle-btn" (click)="registrar()">{{ datosJson.paginas.login.registrar }}</button>
        </div>

        <form id="login" class="input-group" [formGroup]="loginform" (ngSubmit)="autenticar_usuario()">
          <input type="text" class="input-field" formControlName="email" placeholder="{{ datosJson.paginas.login.correo }}" required>
          <input type="password" class="input-field" formControlName="password" placeholder="{{ datosJson.paginas.login.contrasena }}" required>
          <button type="submit" class="submit-btn" id="login-form">{{ datosJson.paginas.login.acceder }}</button>
        </form>
        <form id="register" class="input-group" [formGroup]="registerform" (ngSubmit)="registrar_usuario()">
          <input type="text" class="input-field" formControlName="username" placeholder="{{ datosJson.paginas.login.nombre }}" required>
          <input type="text" class="input-field" formControlName="email" placeholder="{{ datosJson.paginas.login.correo }}" required>
          <input type="password" class="input-field" formControlName="password" placeholder="{{ datosJson.paginas.login.contrasena }}" required>
          <div>
            <button type="submit" class="submit-btn">{{ datosJson.paginas.login.registrar }}</button>
          </div>
        </form>
        <div>
          <app-login-google></app-login-google>
        </div>
      </div>
    </div>
  </div>
</body>
