<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
  <div class="input-container">
    <label for="name" class="name">Name:</label>
    <input type="text" id="name" formControlName="nombre" class="input">
  </div>

  <div>
    <label for="price">Precio:</label>
    <input type="number" id="price" formControlName="precio" class="input">
  </div>
  <div>
    <label for="description">Descripción:</label>
    <textarea id="description" formControlName="descripcion" class="input"></textarea>
  </div>
  <div>
    <label for="image">Imagen:</label>
    <input type="file" id="image"  (change)="uploadImage($event)">
  </div>
  <div>
    <label for="category">Categoría:</label>
    <select id="category" formControlName="categoria" class="input">
      <option *ngFor="let category of categories" [value]="category">{{category}}</option>
    </select>
  </div>
  <button type="submit">Añadir</button>
</form>
<button>Cancelar</button>

