<body>
<div class="return_content">

  <div class="return_header">
    <h1> {{datosJson.footers.devoluciones.politica_devoluciones}} </h1>
    <p> {{datosJson.footers.devoluciones.p_politica_devoluciones}} </p>
  </div>

  <div class="row">
    <div class="col-lg-12 col-xxl-4">
      <img src="./assets/image/Devoluciones.jpeg" alt = "Imagen 1">
      <p> {{datosJson.footers.devoluciones.p_imagen1}} </p>
    </div>
    <div class="col-lg-12 col-xxl-4">
      <img src="./assets/image/Devoluciones1.jpg" alt="Imagen 2">
      <p> {{datosJson.footers.devoluciones.p_imagen2}} </p>
    </div>
    <div class="col-lg-12 col-xxl-4">
      <img src="./assets/image/Reembolso.jpg" alt="Imagen 3">
      <p> {{datosJson.footers.devoluciones.p_imagen3}} </p>
    </div>
  </div>

</div>
</body>
