<body>
<div class="return_content">

  <div class="return_header">
    <h1> {{datosJson.footers.devoluciones.politica_devoluciones}} </h1>
    <p> {{datosJson.footers.devoluciones.p_politica_devoluciones}} </p>
  </div>

  <div class="return_images">
    <div class="return_image">
      <img src="./assets/image/return.png" alt = "Imagen 1">
      <p> {{datosJson.footers.devoluciones.p_imagen1}} </p>
    </div>
    <div class="return_image">
      <img src="./assets/image/return.png" alt="Imagen 2">
      <p> {{datosJson.footers.devoluciones.p_imagen2}} </p>
    </div>
    <div class="return_image">
      <img src="./assets/image/return.png" alt="Imagen 3">
      <p> {{datosJson.footers.devoluciones.p_imagen3}} </p>
    </div>
  </div>

</div>
</body>
