<body>
<div class="return_content">

  <div class="return_header">
    <h1>Return Information</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vehicula lacus non justo luctus auctor.
      Aliquam quis pharetra nisi, id venenatis libero. Nam sit amet ipsum quis nunc convallis dictum.
      Cras laoreet magna nec lacus bibendum, vitae tincidunt sem fermentum.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vehicula lacus non jus
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vehicula lacus non jus
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vehicula lacus non jus
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vehicula lacus non jus
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vehicula lacus non jus
    </p>

  </div>


  <div class="return_images">
    <div class="return_image">
      <img src="./assets/image/return.png" alt = "Imagen 1">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
    <div class="return_image">
      <img src="./assets/image/return.png" alt="Imagen 2">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
    <div class="return_image">
      <img src="./assets/image/return.png" alt="Imagen 3">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </div>

</div>
</body>
