<body>
<form [formGroup]="buyForm" (ngSubmit)="confirmarPago()">
  <!--Nompbre del titular-->
  <div class="row">
    <div class="d-flex justify-content-center col-md-12 col-lg-5">
      <div class="group">
        <input id="name1"  type="text" class="input" formControlName="name" required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Nombre del titular</label>
      </div>
    </div>
  </div>
  <!--Numero de la tarjeta-->
  <div class="row">
    <div class="d-flex justify-content-center col-md-12 col-lg-5">
      <div class="group">
        <input id="tarjeta"  type="text" class="input" formControlName="tarjeta" (keypress)="soloNumeros($event)" required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Número de la tarjeta</label>
      </div>
    </div>
    <div class="d-flex justify-content-center col-sm-12 col-lg-2">
      <div class="group">
        <input id="csv"  type="text" class="input" formControlName="csv" (keypress)="soloNumeros($event)" required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>csv</label>
      </div>
    </div>
    <div class="col-sm-2 d-flex justify-content-center expiration-date">Fecha de caducidad:</div>
    <div class="d-flex justify-content-center col-sm-1">
      <div class="group">
        <input id="month"  type="text" class="input" formControlName="mes"  (keypress)="soloNumeros($event)" required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Mes</label>
      </div>
    </div>
    <div class="d-flex justify-content-center col-sm-1">
      <div class="group">
        <input id="year"  type="text" class="input" formControlName="año" (keypress)="soloNumeros($event)" required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Año</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="d-flex justify-content-center col-md-12 col-lg-5">
      <div class="group">
        <input id="telefono"  type="text" class="input" formControlName="telefono" (keypress)="soloNumeros($event)"required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Número de teléfono</label>
      </div>
    </div>
    <div class="d-flex justify-content-center col-md-12 col-lg-4">
      <div class="group">
        <input id="postal"  type="text" formControlName="postal" class="input" required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Código postal</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="d-flex justify-content-center col-md-12 col-lg-5">
      <div class="group">
        <input id="direccion"  type="text" formControlName="direccion" class="input" required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Dirección de facturación</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 d-flex justify-content-center">
      <button type="submit" class="button">Confirmar</button>
    </div>
  </div>
</form>
</body>
