<body>
<div class="contact_content">
  <div class="contact_header">
    <h1>Contact Us</h1>
  </div>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vehicula lacus non justo luctus auctor. Aliquam quis pharetra nisi, id venenatis libero. Nam sit amet ipsum quis nunc convallis dictum. Cras laoreet magna nec lacus bibendum, vitae tincidunt sem fermentum.</p>
  <div class="contact_wrapper">
    <div class="contact_content">
      <h3>Lorem Ipsum:</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at sapien non urna commodo accumsan. Donec nec massa eu lacus venenatis rutrum. Vivamus ut sodales justo. Nullam tempor arcu eget justo accumsan, sit amet consectetur ipsum consequatconsectetur adipiscing elit. Sed at sapien non urna commodo accumsan. Donec nec massa eu lacus venenatis rutrum. Vivamus ut sodales justo. Nullam tempor arcu eget justo accumsan, sit amet consectetur ipsum consequat.</p>
      <h3>Lorem Ipsum:</h3>
      <p>Integer sit amet sapien a ligula tincidunt vulputate. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis sit amet suscipit lorem. Phasellus euismod massa vel elit placerat vestibulum.</p>
      <h3>Lorem Ipsum:</h3>
      <p>Proin scelerisque turpis sed mauris venenatis, at dapibus elit mattis. Vestibulum id odio ac urna lacinia condimentum et id nunc. Duis semper eros eget magna ultrices, sed tristique metus vestibulumconsectetur adipiscing elit. Sed at sapien non urna commodo accumsan. Donec nec massa eu lacus venenatis rutrum. Vivamus ut sodales justo. Nullam tempor arcu eget justo accumsan, sit amet consectetur ipsum consequat.</p>
      <h3>Lorem Ipsum:</h3>
      <p>Proin scelerisque turpis sed mauris venenatis, at dapibus elit mattis. Vestibulum id odio ac urna lacinia condimentum et id nunc. Duis semper eros eget magna ultrices, sed tristique metus vestibulum.</p>
      <h3>Lorem Ipsum:</h3>
      <p>Proin scelerisqueconsectetur adipiscing elit. Sed at sapien non urna commodo accumsan. Donec nec massa eu lacus venenatis rutrum. Vivamus ut sodales justo. Nullam tempor arcu eget justo accumsan, sit amet consectetur ipsum consequat turpis sed mauris venenatis, at dapibus elit mattis. Vestibulum id odio ac urna lacinia condimentum et id nunc. Duis semper eros eget magna ultrices, sed tristique metus vestibulum.</p>

    </div>
    <div class="contact_image">
      <img src="./assets/image/return.png" alt="Imagen 1">
      <img src="./assets/image/return.png" alt="Imagen 2">
    </div>
  </div>
</div>
</body>
