<body>
<div class="contact_content">
  <div class="contact_header">
    <h1>Contacto</h1>
  </div>
  <p>¡Hola! En El Nexo, estamos encantados de atenderte. Si tienes alguna pregunta, comentario o simplemente quieres saludar, no dudes en ponerte en contacto con nosotros. Estamos aquí para ayudarte.</p>
  <div class="contact_wrapper">
    <div class="contact_content">
      <h3>Información de Contacto</h3>
      <p>- Direccion: Escuela de Ingeniería Informática, ULPGC, Las Palmas de Gran Canaria</p>
      <p>Teléfono: +34 XXX XXX XXX</p>
      <p>Correo: contacto&#64;elnexo.com</p>
      <h3>Horario de Atención al Cliente</h3>
      <p>Nuestro equipo está disponible de lunes a viernes, de 9:00 a 18:00 horas.</p>
      <h3>Redes Sociales</h3>
      <p>Síguenos en Facebook, Instagram y Twitter para estar al tanto de las últimas novedades y ofertas especiales</p>
      <h3>Oficinas</h3>
      <p>Geek central</p>
      <p>Nerd nook</p>
      <p>Pixel palace</p>
      <h3>Ubicaciones de nuestras oficinas</h3>
      <p>Geek central: Seattle, Washington, Estados Unidos</p>
      <p>Nerd nook: Silicon Valley, California, Estados Unidos</p>
      <p>Pixel palace: Londres, Reino Unido</p>
    </div>
    <div class="contact_image">
      <img src="./assets/image/ImagenContactenos.jpg" alt="Imagen 1">
      <img src="./assets/image/ImagenContacto.jpg" alt="Imagen 2">
    </div>
  </div>
</div>
</body>
