<body>
<div class="contact_content">
  <div class="contact_header">
    <h1> {{datosJson.footers.contacto.contacto}} </h1>
  </div>
  <p> {{datosJson.footers.contacto.p_contacto}} </p>
  <div class="contact_wrapper">
    <div class="contact_content">
      <h3> {{datosJson.footers.contacto.informacion_contacto}} </h3>
      <p> {{datosJson.footers.contacto.direccion}} </p>
      <p> {{datosJson.footers.contacto.telefono}} </p>
      <p> {{datosJson.footers.contacto.correo_electronico}} </p>
      <h3> {{datosJson.footers.contacto.horario_atencion}} </h3>
      <p> {{datosJson.footers.contacto.p_horario_atencion}} </p>
      <h3> {{datosJson.footers.contacto.redes_sociales}} </h3>
      <p> {{datosJson.footers.contacto.p_redes_sociales}} </p>
      <h3> {{datosJson.footers.contacto.oficinas}} </h3>
      <p> {{datosJson.footers.contacto.oficina1}} </p>
      <p> {{datosJson.footers.contacto.oficina2}} </p>
      <p> {{datosJson.footers.contacto.oficina3}} </p>
      <h3> {{datosJson.footers.contacto.ubicaciones_oficinas}} </h3>
      <p> {{datosJson.footers.contacto.ubicacion1}} </p>
      <p> {{datosJson.footers.contacto.ubicacion2}} </p>
      <p> {{datosJson.footers.contacto.ubicacion3}} </p>
    </div>
    <div class="contact_image">
      <img src="./assets/image/ImagenContactenos.jpg" alt="Imagen 1">
      <img src="./assets/image/ImagenContacto.jpg" alt="Imagen 2">
    </div>
  </div>
</div>
</body>
